@keyframes highlight-color-shift {
  from {
    background-color: #ffea0030;
  }

  to {
    background-color: #ffea0010;
  }
}

sm {
  color: #888;
}

svg {
  filter: invert(1);
  align-self: center;
}

.mono, code:not([class*="language-"]) {
  font-family: 'Ubuntu Mono', monospace;
}
code:not([class*="language-"]) {
  color: #ff5f5f;
  background-color: #303030;
  padding: 0 6px;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

@keyframes up-and-over-anim {
  from { transform: translateY(0); }
  50% { transform: translateY(20px); }
  to { transform: translateY(0); }
}
.up-and-over {
  animation: up-and-over-anim 400ms ease-in-out;
}
@keyframes under-and-over-anim {
  from { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  to { transform: translateY(0); }
}
.under-and-over {
  animation: under-and-over-anim 400ms ease-in-out;
}

pre div {
  white-space: pre;
}

h1, h2 {
  margin: 0.25em 0;
}
