@keyframes highlight-color-shift {
  from {
    background-color: #ffea0030;
  }

  to {
    background-color: #ffea0010;
  }
}

code {
  font-family: 'Ubuntu Mono', monospace;
  color: #ff5f5f;
  background-color: #303030;
  padding: 0 6px;
}
